NODE_ENV=development
PORT=4000
DATABASE_URL=postgres://user:pass@host:5432/db
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=""
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
REDIS_URL=
REDIS_TOKEN=
MEILI_HOST=
MEILI_MASTER_KEY=
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Bazar Okutuala <no-reply@okutuala.local>"
JWT_SECRET=change-me
