NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://user:password@host:port/db"
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
REDIS_URL=""
REDIS_TOKEN=""
MEILI_HOST=""
MEILI_MASTER_KEY=""

SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM=""
JWT_SECRET=""
