.vscode/
#Cache folder
.alcache/
*.flf
#Test results file
TestResults.xml
node_modules/
.env
.DS_Store
.vscode/
.idea/
frontend/public/icons/
config.env
frontend/public/assets/js/firebase-config.js
firebase-config.js